/* PHASE 5: Cats */
.content-header {
  display: block;
  height: 200px;
  width: 100%;
  background-image: url(../images/cats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.button {
  position: absolute; 
  right: 20px; 
  bottom: 20px;
  background-color: white; /* Green */
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 13px 20px;
  text-align: center;

  font-size: 14px;
}

.content-header > h1 {
  position: absolute; 
  bottom: 20px; 
  right: 300px;
  text-shadow: 1px 1px black;
  color: white; 
  font-size: 35px;
  
}
